#EditEvent {
    font-size: 11px;
    font-family: Arial, Helvetica,sans-serif;
}

#EditEvent textarea {
    min-width: 240px;
    min-height: 120px;
}

#EditEvent table {
    font-size: 11px;
}

#EditEvent table
 tr td {
    padding: 3px 4px;
    vertical-align: top;
}