@model Cineplex.Models.Enquiry

<form asp-action="Create" asp-controller="Enquiries">
    <div class="text-danger" asp-validation-summary="All"></div>
    <input type="hidden" asp-for="EventId"/>
    <input type="hidden" asp-for="To"/>
    <div class="form-group">
        <label asp-for="From"></label>
        <input type="email" asp-for="From" class="form-control input-xs" required/>
        <span asp-validation-for="From"></span>
    </div>
    <div class="form-group">
        <label asp-for="Message"></label>
        <textarea class="form-control" asp-for="Message" required></textarea>
        <span asp-validation-for="Message"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-sm btn-success"/>
    </div>
</form>

