<form asp-action="Search" asp-controller="Movies" method="get" class="navbar-form navbar-right">
    <input type="hidden" name="criteria" value="title"/>
    <div class="form-group">
        <input type="text" name="keyword" class="typeahead form-control input-sm" placeholder="Search">
    </div>
    <button class="btn btn-sm" type="submit">
        <span class="fa fa-search"></span>
    </button>
</form>