/* 
==========================================
CLEARFIX
from https://css-tricks.com/snippets/css/clear-fix/
==========================================*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* 
==========================================
OVERRIDE BOOTSTRAP COLORS
==========================================*/
.navbar-inverse {
	background-color: #2c3e50;
}

.navbar-inverse .navbar-nav > li > a {
    color: #e4e4e4;
}

.navbar-inverse .navbar-brand {
    color: #e0f0ff;
}

/* 
==========================================
OVERRIDE SOME BOOTSTRAP STYLING
==========================================*/
.navbar {
	margin-bottom: 0;
}
.btn, .form-control {
	border-radius: 0;
}

/*
==========================================
STICKY FOOTER using flexbox
from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
========================================*/
.site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/* 
==========================================
COMMON
==========================================*/
html, body {
	font-family: "Open Sans", sans-serif;
}

.container {
	max-width: 960px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* 
==========================================
TOPNAV
==========================================*/
.topnav {
    background-color: #22303e;
    color: #758ba0;
    font-size: 13px;
}
.topnav ul {
    margin: 0;
    padding: 9px 0 6px 0;
    display: inline-block;
}
.topnav ul li {
    display: inline-block;
}
.topnav ul li a {
    color: #758ba0;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.topnav ul li a:hover {
    color: #cdd0d2;
    text-decoration: none;
}
@media screen and (max-width: 360px){
    .topnav-left {
        display: none !important;
    }
    .topnav-right {
        width: 100%;
    }
}

.navbar-form {
    position: relative;
    padding-right: 60px;
}

.navbar-form button[type='submit'],
.navbar-form input[type='submit']{
    position: absolute;
    top: 10px;
    right: 15px;
}

@media screen and (min-width: 769px){
	.navbar-form {
		padding-right: 15px;
	}

	.navbar-form button[type='submit'],
	.navbar-form input[type='submit']{
		position: static;
	}

}

#CartButton {
  color: #fff;
  margin-right: 20px;
  background-color: #4e714e;
  border: none;
}

#SignUp_Btn {
	background-color: #4c6073;
	padding: 1px 10px;
	color: #e2e2e2;
}
#SignUp_Btn:hover {
    background: #677f96;
}

#Login_Link {
	text-decoration: underline;
	color: #91a4b7;
}
 #Login_Link:hover{
	text-decoration: none;
	color: #ddd;
 }


/* 
==========================================
SITE FOOTER
==========================================*/
.site-footer {
	background-color: #2c3e50;
	padding-top: 40px;
	color: #e0e0e0;
	font-size: 13px;
}
.site-footer a {
    color: #f0f0f0;
}

.site-footer ul {
    list-style: none;
    padding-left: 15px;
}
.site-footer ul li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.site-footer .address-info {
    font-size: 12px;
    max-width: 300px;
}

.site-footer .footer-block {
    margin-bottom: 30px;
}
.site-footer .footer-block h1,
.site-footer .footer-block h2,
.site-footer .footer-block h3,
.site-footer .footer-block h4 {
	margin-top: 0;
}

.site-footer .footer-bottom {
    padding: 10px 15px;
    font-size: 12px;
    background-color: #22303E;
    margin-top: 15px;
}

.site-footer .footer-bottom .copyright-info {
    display: inline-block;
    float: left;
}

.site-footer .footer-bottom .designer-info {
    display: inline-block;
    float: right;
}
/* 
==========================================
SEARCH RESULT AUTOCOMPLETE
==========================================*/
.search-result {
    display: block;
    padding-left: 60px;
    position: relative;
    height: 50px;
    font-size: 12px;
}
.search-result .result-title {
    display: inline-block;
    width: 100%;
    z-index: 9999;
}
.search-result .result-description {
    display: inline-block;
    width: 100%;
}
.search-result .result-icon {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
}

/* 
==========================================
LOGIN AREA
==========================================*/
div#LoginArea {
    max-width: 665px;
    margin: 30px auto;
    padding: 0 15px;
    background: #2c3e50;
    color: #fff;
    border: 1px solid #2c3e50;
}

div#LoginArea input {
    border-radius: 0;
}

#LoginArea_left {}

#LoginArea_right {
    background: #fff;
    color: #000;
    padding: 30px 40px 50px 40px;
    min-height: 400px;
}

/* 
==========================================
MEDIA QUERIES
==========================================*/
@media screen and (min-width: 480px){

}

@media screen and (min-width: 568px){

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 800px){

}

@media screen and (min-width: 960px){

}



