@using Microsoft.AspNetCore.Identity
@using Cineplex.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
    </form>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Login" id="Login_Link">Login</a> <span>or &nbsp;</span>
    <a asp-area="" asp-controller="Account" asp-action="Register" id="SignUp_Btn" class="btn btn-sm">Sign Up</a>
}
