<div class="site-banner slider">
    <div class="slides">
        <div class="slide">
            <div class="image-parent">
                <img src="~/images/Banners/banner1.jpg" alt="Wonder Woman"/>
            </div>
            <div class="slide-description">
                <h4>Wonder Woman 2017</h4>
                <p>Now showing at Cineplex Melbourne theater</p>
                <p><a href="#" class="btn btn-success">Book now!</a></p>
            </div>
        </div>
        <div class="slide">
            <div class="image-parent">
                <img src="~/images/Banners/banner2.jpg" alt="Upgraded Cinemas" />
            </div>
            <div class="slide-description">
                <h4>Our cinemas have been upgraded</h4>
                <p>Our cinema has been upgrade</p>
                <p><a href="#" class="btn btn-success">Read more</a></p>
            </div>
        </div>
        <div class="slide">
            <div class="image-parent">
                <img src="~/images/Banners/banner3.png" alt="New Lilydate Theater" />
            </div>
            <div class="slide-description">
                <h4>Introducing Lilydale theater</h4>
                <p>Lilydale theater is our newest addition to our luxury cinemas</p>
                <p><a href="#" class="btn btn-success">Read more</a></p>
            </div>
        </div>
    </div>
</div>