<div class="site-footer">
    <div class="site-footer-inner">
        <div class="container clearfix">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-3 col-md-offset-0 col-sm-6 col-md-4" ">
                    <div class="footer-block">
                        <h3>ABC Cineplex Corp.</h3>
                        <p>Enjoy the comfort provided by our 5-star luxury cinema theaters in five locations in Melbourne</p>
                        <p class="address-info">
                            <b>Office Location:</b><br>
                            <span>Collins Street, Melbourne CBD PO. Box 91823</span><br>
                            <b>Office hours:</b> <span>9:30am - 5:30pm</span><br>
                            <b>ABN:</b> 51 824 753 556
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-3 col-md-offset-0 col-sm-6 col-md-4">
                    <div class="footer-block">
                        <h4>Movie Plaza Theaters</h4>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                &nbsp;
                                <a href="#">St. Kilda</a>
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                &nbsp;
                                <a href="#">Fitzroy</a>
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                &nbsp;
                                <a href="#">Melbourne CBD</a>
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                &nbsp;
                                <a href="#">Sunshine</a>
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                &nbsp;
                                <a href="#">Lilydale</a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container clearfix">
            <span class="copyright-info">
                Copyright &copy; 2017 ABC Cineplex Corp.
            </span>
            <span class="designer-info">
                <small>Designed by Joshua Orozco at RMIT City Campus</small>
            </span>
        </div>
    </div>
</div><!-- end .site-footer -->