@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Collins Street, Melbourne <br />
    CBD PO. Box 91823<br />
    Office hours: 9:30am - 5:30pm<br />
    ABN: 51 824 753 556<br />
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:info@abccc.com">info@abccc.com</a><br />
    <strong>Administrator:</strong> <a href="mailto:s3485376@student.rmit.edu.au">s3485376@student.rmit.edu.au</a>
</address>
